* { 
  font-family: "roboto";
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;

}
ul {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  margin-right: 48px;
}

li {  
  list-style-type: none;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  list-style-type: none;
  text-decoration: none;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 48px;
}

.container {
  padding-top: 24px;
background-color: #1F2937;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  color:#f9faf8;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
}

p{
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up-text {
  display: flex;
  flex-direction: column;
  flex-basis: 60px;
  justify-content: space-between;
}

button {
  flex-shrink: 0;
  margin: 8px 0;
  border-radius: 50px;
  padding: 10px 25px;
  max-width: 120px;
  text-align: center;
  background-color: #3882F6;
  color: #E5E7EB;
}

img {
  width: 450px;
  height: 250px;
  flex-grow: 0;
  border-radius: 4px;
}

.title{
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  gap: 20px
}

.text {
  display: flex;
  width: 80%;
  border: 1px solid #ccc;  
  justify-content: space-between;
}

.left-column {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 450px;
  padding-left: 200px;
  margin-bottom: 0;
}
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

span {
  flex-basis: 25%;
}